<h1>Mis Vacunas</h1>

<%@vacuna=VacunaDada.where(:user_id => current_user.id)%>

<% if @vacuna.first.nil? %>
    <p>Ud. no ha recibido ninguna vacuna</p>
<%else%>
<table style="text-align:center;float:left;padding-left: 50px;">
                                    <tr>
                                        <th>Tipo de Vacuna</th>
                                        <th>Dosis</th>
                                        <th>Observacion</th>
                                        <th>Fecha Recibida</th>
                                    </tr>
                                    
                                    <% @vacuna.each do |f|%>
                                    <tr>
                                        <td><%= f.tipo_vacuna %></td>
                                        <td><%= f.dosis %></td>
                                        <td><%= f.observacion %></td>
                                        <td><%= f.fecha_dada  %></td>
                                        <td><%= link_to "Ver detalle", turno_path(:id => f.turno_id)%></td> 
                                    </tr>  
                                    <%end%>
                                    
                            </table>
<%end%>