<h1>Resultados para la busqueda</h1>

<%if !@get_user.nil? %>
    <% arreglo = [@get_user.dni, @get_user.nombre,@get_user.apellido] %>  
    <% arreglo = ["COVID", "GRIPE", "FIEBRE AMARILLA"] %>  
    <table style="text-align:center;float:left;padding-left: 50px;">
    <tr>
                                        <th>DNI</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                    </tr>
                                    <tr>
                                    <td><%= @get_user.dni %></td>
                                        <td><%= @get_user.nombre %></td>
                                        <td><%= @get_user.apellido %></td>
                                        <%if current_user.rol=="Administrador"%>
                                            <td> <%= link_to "Ver detalle", cambios_edit_path(:id => @get_user.id) %></td>
                                            <td> <%= link_to "Eliminar usuario", eliminar_vacunadores_delete_path(:id => @get_user.id) %></td>
                                     
                                        <%end%>
                                    </tr>
    </table>            
    <br>
    <br>
    <br><br>

    <%if @turno[0].nil?%>
        <%if (current_user.rol=="Vacunador")%>
            <p>El paciente no tiene ningun turno en estado Aceptado!</p>
        <%end%>
    <%else%>
    <%if current_user.rol!="Administrador"%>
        <table style="text-align:center;float:left;padding-left: 50px;">
                                        <tr>
                                            <th>Tipo de Vacuna</th>
                                            <th>Fecha de solicitud</th>
                                            <th>Estado</th>
                                        </tr>
        <% @turno.each do |turno| %>
                                        <tr>
                                            <td><%= turno.tipovacuna %></td>
                                            <td><%= turno.remember_created_at.strftime("%d/%m/%Y") %></td>
                                            <td><%= turno.estado %></td>
        <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
        </tr>
        <% end %>
    </table>
    <%end%>
    <%end%>
                    
<%else%>
    <p>Ningun resultado!</p>
<%end%>