<h1>Resultados para la busqueda</h1>

<%if !@get_user.nil? %>
    <% arreglo = [@get_user.dni, @get_user.nombre,@get_user.apellido] %>  
    <% arreglo = ["COVID", "GRIPE", "FIEBRE AMARILLA"] %>  
    <table style="text-align:center;float:left;padding-left: 50px;">
    <tr>
                                        <th>DNI</th>
                                        <th>NOMBRE</th>
                                        <th>APELLIDO</th>
                                    </tr>
                                    <tr>
                                    <td><%= @get_user.dni %></td>
                                        <td><%= @get_user.nombre %></td>
                                        <td><%= @get_user.apellido %></td>
                                    </tr>
    </table>            
    <br>
    <br>
    <br><br>
    <%if @turno[0].nil?%>
        <p>El paciente no tiene ningun turno en estado Aceptado!</p>
    <%else%>
        <table style="text-align:center;float:left;padding-left: 50px;">
                                        <tr>
                                            <th>Tipo de Vacuna</th>
                                            <th>Fecha de solicitud</th>
                                            <th>Estado</th>
                                        </tr>
        <% @turno.each do |turno| %>
                                        <tr>
                                            <td><%= turno.tipovacuna %></td>
                                            <td><%= turno.remember_created_at %></td>
                                            <td><%= turno.estado %></td>
        <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
        </tr>
        <% end %>
    </table>
    <%end%>
                    
<%else%>
    <p>Ningun resultado!</p>
<%end%>