<h1>Mis Reportes</h1>

<%= form_with(url:"show", method: "GET") do |f| %>
        <!-- <p>Fecha a asignar (Formato = "AAAA-MM-DD")</p> -->
        <%= f.date_field :fechaRecibir, :value=>Date.today %>
        <%= f.submit "Buscar" %>
<% end %>

<h2>Resultados para la fecha <%=params[:fechaRecibir]%></h2>
<%index = ["Municipalidad","Cementerio","Terminal"]%>
<%for i in 0..2 do%>
    <br>
    <table class="center-table">
    <caption><b><%=index[i]%></b></caption>
        <tr>
            <th>Cantidad Total de Vacunas</th>
            <th>Cantidad COVID</th>
            <th>Cantidad Fiebre Amarilla</th>
            <th>Cantidad Gripe</th>
            <th>Turnos Aceptados</th>
            <th>Turnos Vacunados</th>
            <th>Turnos Pendientes</th>
        </tr>
            <td><%= @turno.where(:lugar=>index[i]).count %></td>
            <td><%= @covid.where(:lugar=>index[i]).count %></td>
            <td><%= @fa.where(:lugar=>index[i]).count %></td>
            <td><%= @gr.where(:lugar=>index[i]).count %></td>
            <td><%= @turno.where(:lugar=>index[i]).where(:estado=>"Aceptado").count %></td>
            <td><%= @turno.where(:lugar=>index[i]).where(:estado=>"Vacunado").count %></td>
            <td><%= @turnoH.where(:lugar=>index[i]).where(:estado=>"Pendiente").count %></td>
        <tr>
        </tr>
    </table>
    <br>
<%end%>