<h1>Bienvenido al Vacunatorio de la Provincia de Buenos Aires</h1>
<% if user_signed_in? %>
    <h2>Hola <%= current_user.nombre %> (<%= current_user.rol %>)</h2>

    <% @turnos = current_user.turnos %>

    <% if @turnos.count == 0 %>
        <p>Ud no tiene asignado ningun turno</p>
    <% else %>
        <p> Tabla de turnos <% @turnos.count %><p>

        <div id="tabla_turnos"  >
        <table style="text-align:center;margin-right:auto;margin-left:auto">

                <tr>
                    <th>Tipo de Vacuna</th>
                    <th>Fecha de solicitud</th>
                    <th>Estado</th>
                </tr>
            <% @turnos.each do |turno| %>
                <tr>
                    <td><%= turno.tipovacuna %></td>
                    <td><%= turno.remember_created_at %></td>
                    <td><%= turno.estado %></td>
                    <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
                </tr>
            <% end %>
            
        </table>
        </div>
    <%end %>

<% end %>

