<h1>Bienvenido al Vacunatorio de la Provincia de Buenos Aires</h1>
<% if user_signed_in? %>
    <h2>Hola <%= current_user.nombre %> (<%= current_user.rol %>)</h2>

    <%if current_user.rol=="Administrador"%>
        <%= form_with url: "/search_user", method: :get do |form| %>
            <%= form.number_field :dni %>
            <%= form.submit "Buscar Vacunador" %>
        <% end %>


    <p>_______________________________________________________________________________________________________</p>
        <p></p>
        <p></p>
        <p></p>

        <%= form_for :filtro, url: root_path, method: :get do |form| %>
            <%= form.select :tipo_vacuna, ['TIPO VACUNA', 'GRIPE', 'COVID', 'FIEBRE AMARILLA'] %>
            <%= form.date_field :fecha_asignada %>
            <input id="vengo_filtro_vacuna" name="vengo_filtro_vacuna" type="hidden" value="SI">
            <%= form.submit "Aplicar Filtro" %>
            <%=link_to "Reiniciar Filtro", root_path%>
        <% end  %>


        <div id="tabla_turnos_pendientes_muni"" style="">
            <table style="text-align:center;float:left;padding-left: 50px;">
                <caption>Tabla de turnos a asignar en MUNICIPALIDAD</b></caption>
                <tr>
                    <th>Tipo de Vacuna</th>
                    <th>Fecha de solicitud</th>
                    <th>Estado</th>
                </tr>
                <% @turnosPendientesEnMunicipalidad.each do |turnoPendiente| %>
                    <tr>
                        <td><%= turnoPendiente.tipovacuna %></td>
                        <td><%= turnoPendiente.remember_created_at.strftime("%d/%m/%Y") %></td>
                        <td><%= turnoPendiente.estado %></td>
                        <td><%= link_to "Ver detalle", turno_path(:id => turnoPendiente.id) %></td>   
                    </tr>
                <% end %>
            </table>
        </div>

        <div id="tabla_turnos_pendientes_termi"" style="">
            <table style="text-align:center;float:left;padding-left: 50px;">
                <caption>Tabla de turnos a asignar en TERMINAL</b></caption>
                <tr>
                    <th>Tipo de Vacuna</th>
                    <th>Fecha de solicitud</th>
                    <th>Estado</th>
                </tr>
                <% @turnosPendientesEnTerminal.each do |turnoPendiente| %>
                    <tr>
                        <td><%= turnoPendiente.tipovacuna %></td>
                        <td><%= turnoPendiente.remember_created_at.strftime("%d/%m/%Y") %></td>
                        <td><%= turnoPendiente.estado %></td>
                        <td><%= link_to "Ver detalle", turno_path(:id => turnoPendiente.id) %></td>   
                    </tr>
                <% end %>
            </table>
        </div>

        <div id="tabla_turnos_pendientes_cementerio"" style="">
            <table style="text-align:center;float:left;padding-left: 50px;">
                <caption>Tabla de turnos a asignar en CEMENTERIO</b></caption>
                <tr>
                    <th>Tipo de Vacuna</th>
                    <th>Fecha de solicitud</th>
                    <th>Estado</th>
                </tr>
                <% @turnosPendientesEnCementerio.each do |turnoPendiente| %>
                    <tr>
                        <td><%= turnoPendiente.tipovacuna %></td>
                        <td><%= turnoPendiente.remember_created_at.strftime("%d/%m/%Y") %></td>
                        <td><%= turnoPendiente.estado %></td>
                        <td><%= link_to "Ver detalle", turno_path(:id => turnoPendiente.id) %></td>   
                    </tr>
                <% end %>
            </table>
        </div>
        

        

    <%end%>
    <% if current_user.rol=="Vacunador"%>
        <%= form_with url: "/search_user", method: :get do |form| %>
            <%= form.number_field :dni %>
            <%= form.submit "Buscar Paciente" %>
        <% end %>
        <br>
        <%=button_to "Cerrar Vacunatorio",reducirTodos_path%>
        <% @turnosCovid = Turno.where(:lugar => current_user.vacunatorio).where(:estado => "Aceptado")
        .where(:fechaRecibir => Date.today).where(:tipovacuna => "COVID") %>
        <% @turnosGripe = Turno.where(:lugar => current_user.vacunatorio).where(:estado => "Aceptado")
        .where(:fechaRecibir => Date.today).where(:tipovacuna => "GRIPE") %>
        <% @turnosFiebreAma = Turno.where(:lugar => current_user.vacunatorio).where(:estado => "Aceptado")
        .where(:fechaRecibir => Date.today).where(:tipovacuna => "FIEBRE AMARILLA") %>
        <% @turnosAtendidosDia = Turno.where(:lugar => current_user.vacunatorio).where(:estado => "Vacunado")
        .where(:fechaRecibir => Date.today)%>
         <strong><p style="text-align:center"> CANTIDAD DE VACUNAS A DAR</p></strong>
         <p style="text-align:center">COVID:<%=@turnosCovid.count%> | GRIPE:<%=@turnosGripe.count%> | FIEBRE AMARILLA:<%=@turnosFiebreAma.count%></p>
                
        <hr style="position:relative; top:20px;clear: left;"></hr>

        <div id="tablas_turnos" style="position:relative; top:20px;clear: left;"%>
            <% if (@turnosCovid.count+@turnosGripe.count+@turnosFiebreAma.count) == 0 %>
                <p><b>Su vacunatorio no tiene asignado ningun turno</b></p>
            <% else %>
                <p> Turnos restantes en el dia = <b><%=(@turnosCovid.count+@turnosGripe.count+@turnosFiebreAma.count)%></b></p>
                <% arreglo = ["COVID", "GRIPE", "FIEBRE AMARILLA"] %>
                <% arreglo2 = [@turnosCovid, @turnosGripe, @turnosFiebreAma] %>
                <% indice = 0 %>
                    <% for tipovac in arreglo do %> 
                        <div id="tabla_turnos <%=arreglo[indice]%>"" style="">
                            <table style="text-align:center;float:left;padding-left: 50px;">
                                    <caption>Tabla <b><%=arreglo[indice]%></b></caption>
                                    <tr>
                                        <th>Tipo de Vacuna</th>
                                        <th>Fecha de solicitud</th>
                                        <th>Estado</th>
                                    </tr>
                                <% @turnosAListar = arreglo2[indice] %>
                                <% indice += 1 %>
                                <% @turnosAListar.each do |turno| %>
                                    <tr>
                                        <td><%= turno.tipovacuna %></td>
                                        <td><%= turno.remember_created_at.strftime("%d/%m/%Y") %></td>
                                        <td><%= turno.estado %></td>
                                        <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <%end%>
            <%end%>
        </div>

        <hr style="position:relative; top:30px;clear: left;"></hr>

        <div id="tablas_turnos_atendidos" style="position:relative; top:30px;clear: left;">
            <% if (@turnosAtendidosDia.count == 0) %>
                <p><b>Su vacunatorio no atendio todavia ningun turno</b></p>
            <% else %>
                <p> Turnos atendidos en el dia = <b><%=(@turnosAtendidosDia.count)%></b></p>
                    <div id="tabla_turnos_atendidos" style="align: center;">
                        <table style="text-align:center;">
                                <caption>Tabla <b>ATENDIDOS</b></caption>
                                <tr>
                                    <th>Tipo de Vacuna</th>
                                    <th>Fecha de solicitud</th>
                                    <th>Estado</th>
                                </tr>
                            <% @turnosAtendidosDia.each do |turno| %>
                                <tr>
                                    <td><%= turno.tipovacuna %></td>
                                    <td><%= turno.remember_created_at.strftime("%d/%m/%Y") %></td>
                                    <td><%= turno.estado %></td>
                                    <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
                                </tr>
                            <% end %>
                        </table>
                    </div>
            <%end%>
        </div>

    <%end%>

    <%if current_user.rol=="Paciente"%>
        <% @turnos = current_user.turnos %>

        <% if @turnos.count == 0 %>
            <p>Ud no tiene asignado ningun turno</p>
        <% else %>
            <p> Tabla de turnos <% @turnos.count %><p>

            <div id="tabla_turnos"  >
            <table style="text-align:center;margin-right:auto;margin-left:auto">

                    <tr>
                        <th>Tipo de Vacuna</th>
                        <th>Fecha de solicitud</th>
                        <th>Estado</th>
                    </tr>
                <% @turnos.each do |turno| %>
                    <tr>
                        <td><%= turno.tipovacuna %></td>
                        <td><%= turno.remember_created_at.strftime("%d/%m/%Y") %></td>
                        <td><%= turno.estado %></td>
                        <td><%= link_to "Ver detalle", turno_path(:id => turno.id) %></td>   
                    </tr>
                <% end %>
                
            </table>
            </div>
        <%end %>
    <%end%>

<% end %>

