<h1>Bienvenido al Vacunatorio de la Provincia de Buenos Aires</h1>
<% if user_signed_in? %>
    <h2>Hola <%= current_user.nombre %> (<%= current_user.rol %>)</h2>

    <% @turnos = current_user.turnos %>
    <p> Tabla de turnos <% @turnos.count %><p>

    <div id="tabla_turnos"  >
    <table style="text-align:center;margin-right:auto;margin-left:auto">
    
            <tr>
                <th>Id</th>
                <th>Tipo de Vacuna</th>
                <th>Observacion</th>
                <th>Estado</th>
            </tr>
        <% @turnos.each do |turno| %>
            <tr>
                <td><%= turno.id %></td>
                <td><%= turno.tipovacuna %></td>
                <td><%= turno.observacion %></td>
                <td><%= turno.estado %></td>
                <td><%= button_to "Ver detalle", turno_path(:id => turno.id) %></td>   
            </tr>
         <% end %>
        
    </table>
</div>
<% end %>

