<%= link_to "Volver", :back %> 
<h1>Pedido de Turno</h1>

<h2> Solicitud de Turnos </h2>

<%= form_for(@turno) do |f| %>
<div class="field">
    <%= f.label :"Tipo de vacuna" %><br />
    <%= f.select :tipovacuna,['COVID','FIEBRE AMARILLA','GRIPE'] %>
</div>
<div class="field">
    <%= f.label :"Obeservacion" %><br />
    <%= f.text_area :observacion %>
</div>
<br/>

<p><%= f.submit "Enviar Pedido" %></p>

<% end %>
