<%= link_to "Volver", :back %> 

<h1>Detalle de turno</h1>

<p>ID = <%= @turno.id %></p>
<p>Tipo Vacuna = <%= @turno.tipovacuna %></p>
<% if @turno.observacion.nil? %>
    <p>Observacion = <%= @turno.observacion %></p> 
<% end %>
<p>Estado = <%= @turno.estado %> </p>

