<%= link_to "Volver", :back %> 

<h1>Detalle de turno</h1>

<p>ID: <%= @turno.id %></p>
<p>Tipo Vacuna: <%= @turno.tipovacuna %></p>
<p>Fecha de solicitud: <%= @turno.remember_created_at %></p>
<% if !@turno.observacion.nil? %>
    <p>Observacion: <%= @turno.observacion %></p> 
<% end %>
<p>Estado:<%= @turno.estado %> </p>

<%if @turno.estado=="Aceptado" || @turno.estado=="Vacunado" %>
<p>Fecha de Vacunacion: <%= @turno.fechaRecibir%> </p>
<p>Lugar de Vacunacion: <%= @turno.lugar%> </p>
<%end%>

<%if @turno.estado=="Vacunado"%>
    <p> <%= link_to "Certificado Imprimible", turno_path(@turno, format:"pdf")%> </p>
<%end%>

<%if @usuario.rol=="Vacunador"%>
    <%if @turno.estado=="Aceptado"%>
        <%= link_to "Vacunar", vacuna_dadas_new_path(:turno_id => @turno.id) %>
    <%end%>
<%end%>
