<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <head>
    <title>Vacunatorio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <p class="navbar-text float-right">
  <% if user_signed_in? %>
    Logueado como <strong><%= current_user.email %></strong>.
    <%=link_to "Inicio", root_path,:class=> 'navbar-link' %> |
    <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
    <%if current_user.rol=="Paciente"%>
      <strong><%=link_to "Pida su turno",turnos_new_path(),:class => 'navbar-link' %> </strong>|
      <strong><%=link_to "Mis Vacunas",vacuna_dadas_show_path(),:class => 'navbar-link' %> </strong>|
    <%elsif current_user.rol=="Vacunador"%>
      <strong><%=link_to "Vacunar Paciente No Registrado",invitados_new_path(),:class => 'navbar-link' %> </strong>|
    <%else%>
        <strong><%=link_to "Crear Vacunador",vacunadores_new_path(),:class => 'navbar-link' %> </strong> |
        <%=link_to "Editar Postas",postas_edit_path(),:class => 'navbar-link' %> |
        <%=link_to "Lista de Vacunadores",vacunadores_show_path(),:class => 'navbar-link' %> |
    <%end%>
    <%=link_to "Mis Datos",mis_datos_show_path(),:class => 'navbar-link' %> |
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
